.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
}
.card{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    min-width: 250px;
    background-color:cyan;
}
.card-top{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.card-heading{
    align-self: flex-end;
    justify-self: flex-end;
    color: rgb(0, 54, 136);
    margin-top: 40px;
}

.username-container, .password-container, .url-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    column-gap: 5px;
}
.password-container{
    position: relative;
}

.copy-icon{
    width: 16px;
}